<%layout("/layouts/boilerplate")%>
<body>
    <h1>All listings</h1>

    
<ul>
    <%for (let item of result){%>
    <li><a href="/listings/<%=item._id%>"><%=item.title%></a></li>
   
<%}%>
</ul>
</body>
